:root {
    --header-image: #eff0f3;
    --body-bg-image: #eff0f3;

    /* colors */
    --content: #43256E;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #15202B;;
    background-size: 65px;
    color: #fceaff;
}


#container {
    max-width: 900px;
    margin: 0 auto;

}

#container a {
    color: rgb(120, 86, 255);
    font-weight: bold;

}
#navbar {
    margin-bottom: 10px;
    height: 40px;
    background-color: #14171A;
    width: 100%;
  }

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}


#navbar li {
    padding-top: 10px;
}
  
#leftSidebar {
    margin-right: 10px;
  }

.box ul {
    padding-left:10px;
}

#header {
    width: 100%;
    height: 150px;
    background: rgb(21,32,43);
background: linear-gradient(90deg, rgba(21,32,43,1) 0%, rgba(50,30,46,1) 61%);
    background-size: 100%;
}

#footer {
    margin-top: 10px;
}

#navbar li a {
    color: rgb(120, 86, 255);
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
    background-color: #14171A;
    width: 200px;
    padding: 20px;
    font-size: smaller;
    /* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main {
    background-color: rgb(30, 39, 50);
    flex: 1;
    padding: 20px;
    order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #14171A;
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: #FFFFFF;
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #FFFFFF;
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: #13092D;
    border: 1px solid #ED64F5;
    padding: 10px;
}

/* CSS for extras */

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
        margin-right: 0;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}